.comment{
    &--container{
        position: relative;
        width: 80%;
        background-color: $blue-primary;
        color: white;
        padding: 1rem 2rem 3rem 2rem;
        -webkit-box-shadow: 6px 4px 10px 1px rgba(0,0,0,0.39);
        -moz-box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
        box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
        margin-bottom: 11rem;
        &:hover .comment--delete{
            opacity: 1;
            transform: scale(1.1);
        }

        &--input{
            background-color: white;
            position: relative;
            width: 80%;
            background-color: white;
            padding: 1rem ;
            -webkit-box-shadow: 6px 4px 10px 1px rgba(0,0,0,0.39);
            -moz-box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
            box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
            margin-bottom: 11rem;
            & textarea{
               width: 90%;
            //    height: 8rem;
               margin: 1rem 3rem;
               border: none;
               font-family: "Evolventa", sans-serif;
            }
        }
    }
    &--button{
        position: absolute;
        bottom: 3rem;
        right: 2rem;
        -webkit-box-shadow: 6px 4px 10px 1px rgba(0,0,0,0.39);
        -moz-box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
        box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
    }
    &--pic{
        border-radius: 50%;
        width: 9rem;
        height: 9rem;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -3rem;
        left: -5rem;
        -webkit-box-shadow: 6px 4px 10px 1px rgba(0,0,0,0.39);
        -moz-box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
        box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
    }
    &--title,
    &--text{
        margin-left: 3rem;
        white-space: pre-wrap;
        & p{
            width: 95%;
        }
    }

    &--title{
        font-size: 2.5rem;
        font-weight: 100;
        margin-bottom: 2rem;
        & span{
            color: red;
            text-transform: capitalize;
        }
    }
    &--text{
        // height: 20rem;
        // overflow-y: scroll;
        font-size: 1.6rem;
    }
    &__bottom{
        position: fixed !important;
        bottom: 0;
        padding: 1rem;
        margin: 0 0 1rem 0 !important;
        width: 80% !important;
        // border-radius: 5px;
    }

    &--delete{
        opacity: 0;
        transition: all .3s;
        width: 2rem;
        cursor: pointer;
        padding: 1rem;
        border-radius: 50%;
        position: absolute;
        margin: 1rem 1rem 0 0;
        top: 0;
        right: 0;
        background-color: red;


        &:active{
        background-color: black;
        }
    }

    &--down{
        position: absolute;
        right: 0;
        top: -10rem;
        background-color: white;
        border: none;
        padding: 1rem;
        border-radius: 50%;
        transition: all .3s;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        &:hover{
            background-color: red;
            transform: scale(1.1);
        }
        // margin-bottom: 2rem;
    }


}

// .dvisible{
//     opacity: 1;
//     transform: scale(1);
// }

.dinvisible{
    opacity: 0 !important;
    transform: scale(0) !important;
}