.homePage{
    &--logo{
        width: 10rem;
        transition: all .3s;
        animation: fadein .5s forwards;
    }
    &--profilePic--container{
        width: 35rem;
        height: 35rem;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover !important;
        background-position: center;
    }
    &--pencil{
        padding: 1rem;
        border-radius: 50%;
        border: none;
        background-color: white;
        position: absolute;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
            transition: all .5s;
        }
    }
    // &--profilePic{
    //     width: 30rem;
    //     border-radius: 50%;
    // }
    &--div{
        @include center;
        text-align: center;
    }
    &--div2{
        justify-content: space-evenly; 
         margin: 1rem 2rem;
         text-align: center;
        align-items: center;

        @include respond(tab-port){
            flex-direction: column;
        }
    }
    &--row{
        justify-content: center;
    }
    &--details{
        background-color: white;
        color: black;
        padding: 3rem;
        font-weight: lighter !important;

        & .bigger-text{
            &:not(:last-of-type){
                margin-bottom: 1rem;
            }
            &:last-of-type{
                margin-bottom: 3rem;
            }
        }




    }
}