.homePage{
    &--logo{
        width: 10rem;
        transition: all .3s;
        animation: fadein .5s forwards;
    }
    &--profilePic--container{
        width: 30rem;
        height: 30rem;
        border-radius: 500px;
        overflow: hidden;
    }
    &--profilePic{
        width: 100%;

    }
    &--div{
        @include center;
        text-align: center;
    }
    &--row{
        justify-content: center;
    }
    &--details{
        background-color: white;
        color: black;
        padding: 3rem;
    }
}