.loading{
    width: 100%;
    height: 100%;
    background-color: $blue-primary;

    &--container{
        position: absolute;
        @include center;
    }

    &--logo{
        width: 50rem;
    }
}