.memberCard{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 2rem 1rem;

    transition: all .3s;

    &:hover{
        transform: scale(1.05);
        -webkit-box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
        -moz-box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
        box-shadow: 6px 4px 17px 1px rgba(0,0,0,0.39);
    }

    // 6px 4px 17px 1px rgba(0, 0, 0, 0.5);

    &--pic{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-size: cover !important;
        background-position: center !important;
    }
    &--name{
        width: 50%;
        text-transform: capitalize;
        font-size: 3rem;
    }
}